@use "./_variables.scss" as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-body;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $color-text;
    transition: all 0.2s ease-in-out;


    &:hover{
        color: $color-text-muted;
    }
}

main{
    background-color: rgba(255, 255, 255, 0.8);;
    background-image: url("/background-img.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: lighten;
}


.button-primary,
.button-accent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    padding: 10px 20px;
    border: solid 2px black;
}

.button-primary {
    background-color: $color-primary;
    box-shadow: 6px 6px 0px #BB5808;
    color: white;

    &:hover {
        background-color: $color-bg-main;
        color: $color-text;
        box-shadow: 6px 6px 0px #231914;

    }
}

.button-accent{
    transition: all ease-in-out 0.1s;


    background-color: $color-accent;
    box-shadow: 6px 6px 0px #231914;
    color: $color-text;

    &:hover {
        background-color: $color-bg-main;
        color: $color-text;
    }
}

h1,h2,h3,h4{
    font-family: $font-family-heading;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
    font-weight: 400;
    display: inline-flex;
    gap: 20px;

    svg{
        align-self: center;
    }
}

a,
button,
input,
select,
textarea {
    &:focus-visible {
        outline: 3px solid $color-primary;
        outline-offset: 5px;
    }
}
