@use "./_variables.scss" as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-body;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 0;
}

a{
    text-decoration: none;
    color: $color-text;
    transition: all 0.2s ease-in-out;


    &:hover{
        color: $color-text-muted;
        transition: all 0.2s ease-in-out;
    }
}

main{
    background-color: $color-bg-main;
}


.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;

    background-color: $color-primary;
    padding: 10px 20px;
    border: solid 2px black;
    box-shadow: 6px 6px 0px #BB5808;
    color: white;

    &:hover {
        background-color: $color-bg-main;
        color: $color-text;
    }
}

.button-accent{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;

    background-color: $color-accent;
    padding: 10px 20px;
    border: solid 2px black;
    box-shadow: 6px 6px 0px #231914;
    color: $color-text;

    &:hover {
        background-color: $color-bg-main;
        color: $color-text;
    }
}

h1,h2,h3,h4{
    font-family: $font-family-heading;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
    font-weight: 400;
}